body {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
}

h1 {
  font-size: 30px;
  line-height: 42px;
}

.main-nav, .user {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.feature-item {
  color: #ffffff;
}

.feature-item h2 {
  font-size: 30px;
  line-height: 42px;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
}

.contacts, .social, .copyright{
  color: #ffffff;
}

.content-brands-title {
  font-size: 24px;
  line-height: 30px;
}

.content-catalog-name {
  font-size: 14px;
  line-height: 18px;
}

.navigation.current {
  color: #aba9a7;
}

.content-list-title {
  font-size: 24px;
  line-height: 30px;
}